/*Imported Font Styles*/
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

/*Main Styles*/
body, html {
    background-image: url('../images/quiz-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    font-size: 7.5rem;
    letter-spacing: 5px;
    padding-top: 0.5rem;
    color: white;
}

h5 {
    font-size: 3.5rem;
    letter-spacing: 2px;
    margin-top: 2.5rem;
    text-decoration: underline;
}

h6 {
    font-size: 2rem;
    letter-spacing: 2px;
}

h1, h5, h6 {
    font-family: 'Permanent Marker', 'Century Gothic';
}

p, span {
    font-size: 1.7rem;
}

.card-light {
    background-color: rgba(102, 102, 102, 0.75);
    background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.4));
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 5rem;
    border: 2px solid white;
    border-radius: 10px;
    color: black;
    box-shadow: 0 20px 20px -8.5px rgba(0, 0, 0, 0.95);
    margin-bottom: 2rem;
}

.card-dark {
    background-color: rgba(187, 187, 187, 0.75);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.95));
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 5rem;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    box-shadow: 0 20px 20px -8.5px rgba(0, 0, 0, 0.95);
    margin-bottom: 2rem;
}

#guess-input {
    width: 25%;
}

#question-guess-input {
    width: 75%;
}

.text-entry {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#random-question, #revealed-answer {
    color: rgb(0, 0, 255);
    font-weight: 300;
}

#revealed-answer {
    display: none;
}

#submit-answer, #question-guess-input, #reveal-answer, #revealed-answer {
    visibility: hidden;
}

.debug {
    border: 2px solid purple;
}


/* Media Queries */
/*Medium-Large Devices*/
@media screen and (max-width: 1024px) {

    h1 {
        font-size: 5rem;
    }

    #guess-input {
        width: 200px;
    }
}

/*Smaller Devices*/
@media screen and (max-width: 400px) {

    h1 {
        font-size: 3.85rem;
    }

    .card {
        padding: 0.75rem;
    }

    #question-guess-input {
        width: 200px;
    }

}